@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;

  overflow: hidden;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

li {
  list-style: none;
}

.main-para {
  font-weight: 300;
  font-size: 16px;
  margin-top: 10px;
  color: #ababab;
}

.btn-link {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.btn-link p {
  font-size: 20px;
  font-weight: 400;
  margin-right: 18px;
}

.btn-link img {
  transition: transform 0.5s;
}

.btn-link:hover > img {
  transform: translateX(8px);
}
.btn-link:hover > p {
  color: #c67b53;
}
.container {
  width: 80%;
  margin: auto;
}

/* navbar */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
  transition: top 0.3s;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 40px 0;
  font-size: 18px;
  font-weight: 500;
}
.logo {
  flex: 3;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.links a:hover {
  color: #c67b53;
}
/* showcase */
.showcase {
  position: relative;
  height: 100vh;
}

.main-title {
  font-size: 50px;
  font-weight: bold;
}

.pm-text {
  color: #c67b53;
}
.showcase h1 {
  position: absolute;
}

.background-vid {
  position: absolute;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: -3;
}
.background-vid video {
  width: 74%;
}

.infos {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col-1 {
  flex: 1;
}
.col-3 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.col-2 {
  text-align: center;
  align-self: flex-end;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 60px;
  flex: 1;
}

.col-2 p:nth-child(1) {
  font-size: 50px;
  font-weight: 500;
}
.col-2 p:nth-child(2) {
  font-size: 102px;
  font-weight: bold;
}

.voyage {
  margin-top: 60px;
}

.voyage p {
  margin-bottom: 5px;
}

/* Story */

.story {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.story .infos {
  position: static;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .mars-video {
} */

/* Animations */

.animate-left {
  position: relative;
  animation: animate_left 1s ease-out;
}
@keyframes animate_left {
  from {
    left: -120px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.animate-right {
  position: relative;
  animation: animate_right 1s ease-out;
}
@keyframes animate_right {
  from {
    left: 120px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
